<header class="header">
    <h1>
      One shared passion: <span class="highlight">Food</span>
    </h1>
    <p>Join our community and share your favorite recipes!</p>
  </header>
  <main class="main">
    <h2>Community Perks</h2>

    <ul class="perks">
      <li>
        <img src="assets/icons/meal.png" alt="A delicious meal" />
        <p>Share & discover recipes</p>
      </li>
      <li>
        <img src="assets/icons/community.png" alt="A crowd of people, cooking" />
        <p>Find new friends & like-minded people</p>
      </li>
      <li>
        <img src="assets/icons/events.png"
          alt="A crowd of people at a cooking event"
        />
        <p>Participate in exclusive events</p>
      </li>
    </ul>
  </main>
